body {
  font-family: "Urbanist", sans-serif;
  background-color: #ffffffda;
  text-align: center;
  padding-top: 50px;
}
h1{
    color: #0a0adf;
}
h2{
    color: red;
}

.contenedor {
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(238, 8, 8, 0.2);
}

label {
  display: block;
  margin-top: 15px;
  text-align: left;
  font-weight: bold;
}
.ImputEdad {
    text-align: left;
    width: 15%;
}
input {
  text-align: center;
  width: 90%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #9eec0e;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #dbf038;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #9ae4db;
}